.hero-title {
   color: #cc0000;
   font-weight: bold;
   font-size: 5em;
   font-family: "Computer Modern", serif;
   max-width: 100%;
}

.hero-subtitle {
   color: #442020;
   font-size: 3em;
   font-family: "Computer Modern", serif;
   max-width: 100%;
}

button.cta-button {
   background-color: #cc0000;
}


#footer {
   background-color: #cc0000;
}