.hero-title {
   font-family: "Times New Roman", Times, serif;
   font-size: 4em;
   color: #cc0000;
}

.hero-subtitle {
   color: #cc0000;
   font-weight: bold;
   font-size: 5em;
   font-family: "Computer Modern", serif;
   max-width: 100%;
}

button.cta-button {
   background-color: #cc0000;
}


#footer {
   background-color: #cc0000;
}